* {
	margin: 0;
	padding: 0;
}
body{
	background-image: url(../img/fon.jpg);
	background-attachment:fixed;
}
 h1{
	font-family: 'Tahoma',sans-serif;
  text-rendering: optimizelegibility;
	font-size: 45px;
	font-weight: bold;
 }

.wrapper {
	width: 60%;
	margin: 295px auto;
	font-family: 'Arial',sans-serif;
}
.text{
	margin: 50px 70px 80px 320px;
	color: rgb(165, 4, 4);
}
.carousel-list {
	list-style: none;
	width: 10000px;
	padding: 0px;
	position: relative;
}
.carousel-list p {
	text-align: center;
	color: black;
	margin-top: 20px;
}
.carousel-element {
	display: block;
	margin-right: 12px;
	float: left;
}
.carousel-element img {
	border-radius: 10px;
	max-width: 318px;
}
.carousel-hider {
	width: 650px;
	overflow: hidden;
	float: left;
}
.carousel-arrow-left,
.carousel-arrow-right {
	float: left;
	display: block;
	border: 1px solid rgba(0, 0, 0, .1);
	border-radius: 2px;
	background: rgb(255, 153, 0);
	padding: 7px;
	margin-top: 80px;
}
.carousel-arrow-left:hover,
.carousel-arrow-right:hover {
	cursor: pointer;
	color: rgb(24, 24, 24);
	border: 1px solid rgb(15, 71, 18);
	background: rgb(188, 42, 9);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}
.carousel-arrow-left {
	margin-right: 10px;
}
.carousel-arrow-right {
	margin-left: 10px;
}
